.supported {
  width: 100%;
  background-color: $colorLightGrey;
  padding: 70px 0px 64px 0px;
  .supported__wrapper {
    @media (max-width: 670px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media (max-width: 670px) {
      justify-content: center;
    }
    .title__iconContainer {
      width: 24px;
      height: 24px;

      .title__icon {
        width: 100%;
        height: 100%;
      }
    }

    .title__text {
      @include titleText(15px, 0px);
    }
  }

  .supported__text {
    @include descriptionText(left, 26px);
    @media (max-width: 670px) {
      @include descriptionText(center, 26px);
    }
  }
}
