* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.container {
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
}

.welcome__container {
  width: 300px;
  height: 250px;
  border-radius: 6px;
  padding: 20px 20px;
  background-color: #4a76a8;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.welcome__label {
  margin-bottom: 20px;
  font-size: 20px;
}

.welcome__input {
  height: 30px;
  border: none;
  background-color: #eaf3fd;
  border-radius: 6px;
  font-size: 16px;
  padding: 0px 10px;
}

.welcome__button {
  padding: 6px 10px;
  margin-top: 20px;
  border-radius: 6px;
  background-color: #4a76a8;
  border: 1px solid #ffffff;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  transition: all ease 0.3s;
  cursor: pointer;
}

.welcome__button:hover {
  border: 1px solid transparent;
  background-color: #ffffff;
  color: #4a76a8;
}

.chat__header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  background-color: #4a76a8;
  color: #ffffff;
}

.chat__logoContainer {
  width: 40px;
  height: 40px;
}

.chat__logo {
  width: 100%;
  height: 100%;
}

.chat__mainContainer {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #ffffff;
  padding: 20px;
}

.chat__inputContainer {
  width: 100%;
  height: 50px;
  border-top: 1px solid #a59c9c;
}

.chat__form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat__input {
  width: 95%;
  height: 100%;
  border: none;
  font-size: 16px;
  padding: 0px 10px;
  background-color: #eaf3fd;
  outline: none;
}

.chat__button {
  width: 5%;
  height: 100%;
  border: none;
  background-color: #eaf3fd;
  transition: all ease 0.3s;
  cursor: pointer;
  padding: 5px;
}

.chat__buttonImage {
  width: 100%;
  height: 100%;
  transition: all ease 0.3s;
}

.chat__button:hover .chat__buttonImage {
  transform: scale(0.8);
}

.message__container {
  min-width: 150px;
  width: 40%;
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 6px;
  background-color: #fdeded;
  margin-right: auto;
  display: flex;
  flex-flow: column;
  overflow-wrap: break-word;
}

.message__container + .message__container {
  margin-top: 20px;
}

.message__name {
  font-size: 14px;
  font-weight: bold;
}

.message__time {
  font-size: 12px;
  padding-top: 3px;
  color: rgb(165, 165, 165);
}

.message__text {
  font-size: 14px;
  padding-top: 10px;
}
